.menu_left{
	display: table-cell;
	position: absolute;
	width: 20%;
	height: 50%;
	vertical-align: middle;
	text-align: center;
}

.art{
    right: 20vw;
    border-radius: 10px;
    width: 60vw;
    height: 60vw;
    max-height: 50vh;
    max-width: 50vh;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 45%;
    left: 50%;
}

.art mat-icon{
	scale: 800%;
}

.green{
	background-color: rgb(140, 217, 25) !important;
}

.logFail{
	-moz-box-shadow: 0 0 13px 8px rgba(255,0,0,1);
	-webkit-box-shadow: 0 0 13px 8px rgba(255,0,0,1);
	box-shadow: 0 0 13px 8px rgba(255,0,0,1);
}


.logSuccess{
	-moz-box-shadow: 0 0 13px 8px rgba(0, 255,0,1);
	-webkit-box-shadow: 0 0 13px 8px rgba(0, 255,0,1);
	box-shadow: 0 0 13px 8px rgba(0, 255,0,1);
}



.menu_right{
	display: table-cell;
	position: absolute;
	right: 0px;
	width: 70px;
	height: 50%;
	vertical-align: middle;
	text-align: center;
}

.doubleSize{
	margin-top: 20px;
	display: block;

}

.doubleSize mat-icon{
	transform: scale(2.5);
}
.timer{
	text-align: center;
	font-size: 52px;
	line-height: 1.1em;
	font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	position: absolute;
	width: 100%;
}


.lower_menu{
	position: absolute;
	bottom: 0px;
	width: 100%;
}


.incrementModule{
	display: inline-block;
	width: 30%;
	text-align: center;
	margin: 20px;
}

.incrementModuleText{
	width: 100%;
	text-align: center;
	font-size: 36px;
	margin-top: 10px;
	margin-bottom: 40px;
	font-style: italic;
}

.incrementModule:nth-child(2){
	position: absolute;
	right: 0px;
}

.title{
	font-size: 45px;
	padding-left: 10px;
	font-style: italic;
	display: block;
}

.next::before{
	content: "Next: ";
}

.box{
	width: 90;
	height: 10px;
	padding: 0px;
}

.box_empty{
	margin: 4%;
	border: 1px solid white;

}

.next{
	margin: 20px;
	font-style: italic;
}

.box_full{
	margin: 0px;
	border: 0px;
	background-color: white;
}