.menu_left{
	display: table-cell;
	position: absolute;
	width: 20%;
	height: 50%;
	vertical-align: middle;
	text-align: center;
}

.art{
	width: 60%;
	position: absolute;
	top: 23%;
	right: 20%;
	border-radius: 10px;
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
	filter: grayscale(100%);
}

.menu_right{
	display: table-cell;
	position: absolute;
	right: 0px;
	width: 20%;
	height: 50%;
	vertical-align: middle;
	text-align: center;
}

.doubleSize{
	margin-top: 20px;
}

.doubleSize mat-icon{
	transform: scale(2.5);
}
.timer{
	text-align: center;
	font-size: 52px;
	line-height: 1.1em;
	font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	position: absolute;
	width: 100%;
}


.lower_menu{
	position: absolute;
	bottom: 0px;
	width: 100%;
}


.incrementModule{
	display: inline-block;
	width: 30%;
	text-align: center;
	margin: 20px;
}

.incrementModuleText{
	width: 100%;
	text-align: center;
	font-size: 36px;
	margin-top: 10px;
	margin-bottom: 40px;
	font-style: italic;
}

.incrementModule:nth-child(2){
	position: absolute;
	right: 0px;
}

.title{
	font-size: 45px;
	padding-left: 10px;
	font-style: italic;
	display: block;
}

.next::before{
	content: "Next: ";
}

.box{
	width: 90;
	height: 10px;
	padding: 0px;
}

.box_empty{
	margin: 4%;
	border: 1px solid white;

}

.next{
	margin: 20px;
	font-style: italic;
}

.box_full{
	margin: 0px;
	border: 0px;
	background-color: white;
}