
<div class="timer">
	<span class="master">{{ currentStage.time * 1000 | date:'mm:ss' }}</span><br>
	<span class="diff">{{ (currentStage.time - currentStage.start ) * 1000 | date:'mm:ss' }}</span><br>
</div>

<div class="menu_left">
	<button (click)="back()" mat-icon-button><mat-icon class="arrow_left">arrow_left</mat-icon></button>
</div>
<div class="menu_right">
	<!--<button (click)="cancel()" mat-icon-button><mat-icon class="cancel">cancel</mat-icon></button>
	<br>-->
	<button *ngIf="success" (click)="toggleSuccess()" mat-icon-button><mat-icon class="check">check_box</mat-icon></button>
	<button *ngIf="!success" (click)="toggleSuccess()" mat-icon-button><mat-icon class="check">check_box_outline_blank</mat-icon></button>
</div>

<img class="art" (click)="proceed()" src="https://cdn.shopify.com/s/files/1/0267/2266/4526/products/CDG_8787.png?v=1671918186&width=1080" />


<div class="lower_menu">
		<div>
			<div class="repChange incrementModule">
				<button [style.visibility]="!currentExercise.isReps" (click)="addReps(-1)" mat-icon-button><mat-icon>remove</mat-icon></button>
				<button [style.visibility]="!currentExercise.isReps" (click)="addReps(+1)" mat-icon-button><mat-icon>add</mat-icon></button>
				<div class="incrementModuleText"><span>{{(currentExercise.isReps || currentExercise.sets > 0) ?
						currentExercise.repsDefault + "x" : (currentExercise.durationDefault + currentStage.start -
						currentStage.time ) + "s" }}</span></div>
			</div>
			<div *ngIf="!currentExercise.isBodyweight" class="repChange incrementModule">
				<button  (click)="addWeight(-1)" mat-icon-button><mat-icon>remove</mat-icon></button>
				<button  (click)="addWeight(+1)" mat-icon-button><mat-icon>add</mat-icon></button>
				<div class="incrementModuleText"><span>{{currentExercise.weightDefault}}kg</span></div>
			</div>
		</div>

		<div>
			<span class="title">{{currentExercise.name}}</span>
			<br>
			<label class="next">{{nextText}}</label>
		</div>

		<div class="box_empty box">
			<div [style.width.%]="percentage" class="box_full box">
			</div>
		</div>
</div>