

#lower-menu{
	position: absolute;
	bottom: 0px;
}

.exit, .save{
	width: 200px;
	margin: 10px;
	height: 45px;
	font-size: 24px;
}

.tab-content{
	padding-top: 25px;
	width: 100%;
	height: 40px;
	text-align: center;
}

.tab-content>*{
	display: inline;
	vertical-align:middle;
	font-size: 32px;
}

.narrow>*{
	width: 100px;
}

.title{
	width: 100%;
}