.set{
	margin: 10px;
}

.exerciseName{
	font-size: 22px !important;
	font-style: italic !important;
	font-weight: bold !important;
}

.exercise span{
	font-style: italic;
}

.subset{
}

.fail{
	border: 1px solid red;
	background-color: brown;
}

.success{
	background-color: green;
}

.time{
	display: block;
	width: 100%;
	text-align: right;
	font-weight: bold;
}

.statistics span{
	font-size: 22px;
	font-style: italic;
}

#content{
	height: 90%;
	overflow: scroll;
	-ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

#content::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}


.bigboi{
	width: 90%;
	margin: 10px;
}


.bigboi *{
	width: 100%;
}

.SUCCESS{
	font-weight: bold;
	color: greenyellow;
}

.FAIL{
	font-weight: bold;
	color: red;
}