<div class="main-container">
<mat-toolbar>
	<button (click)="workouts()" mat-icon-button>
		<mat-icon>keyboard_backspace</mat-icon>
	</button>
	<button (click)="home()" mat-icon-button>
		<mat-icon>home</mat-icon>
	</button>
	<span>Workouts</span>
</mat-toolbar>


<div id="content">
	<mat-card class="set statistics">
		<h1>{{workoutState.workout.name}}</h1>

		<span>Time:<span class="time">{{ lastStage.time * 1000 | date:'mm:ss' }}</span></span>



<mat-button-toggle-group class="bigboi" [(ngModel)]="successState" (change)="onSuccessChange()">
	<mat-button-toggle *ngFor="let option of selectionOptions" [value]="option.value" [class]="option.key">
		{{ option.value.charAt(0).toUpperCase() + option.value.slice(1)}}
	  </mat-button-toggle>
</mat-button-toggle-group>


<button mat-raised-button color="primary" (click)="reset()">Reset</button>




  <input matInput [matDatepicker]="picker"  [(ngModel)]="completionDate" (dateChange)="onDateChange()">
<mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
<mat-datepicker #picker></mat-datepicker>
<button (click)="resetCompletion()" mat-icon-button>
	<mat-icon>keyboard_return</mat-icon>
</button>

	</mat-card>
	

	<mat-card class="set" *ngFor="let set of workoutState.workout.sets">
		<mat-card-content>
			<div class="exercise" *ngFor="let exercise of set.exercises">
				<p class="exerciseName">{{exercise.name}}</p>
				<mat-list-item>
					<div>
						<p [class]="success ? 'success' : 'fail'"
							*ngFor="let success of exercise.successes">
							<span *ngIf="exercise.isDuration">{{exercise.durationDefault}}s </span>
							<span *ngIf="exercise.isReps">{{exercise.repsDefault}}x </span>
							<span *ngIf="!exercise.isBodyweight">{{exercise.weightDefault}}kg </span>
						</p>
					</div>
				</mat-list-item>
				<hr>
			</div>
		</mat-card-content>
	</mat-card>
</div>

</div>