mat-list-item{
	font-size: 42px !important;
	height: 80px !important;
	font-family: 'Roboto', 'Courier New', Courier, monospace;
	font-weight: bold;
	font-style: italic;
}


.ver{
	position: absolute;
	right: 10px;
	bottom: 10px;
	font-style: italic;
}