<div class="main-container">
	<mat-toolbar>
		<button (click)="back()" mat-icon-button>
			<mat-icon>keyboard_backspace</mat-icon>
		</button>
		<span>Equipment</span>
	</mat-toolbar>

	<div id="content">
		<mat-list>
			<app-equipment-list-item *ngFor="let eq of equipment" [equipment]="eq" [edit]="editMode">
			</app-equipment-list-item>
		</mat-list>

	</div>

	<mat-toolbar id="lower-menu">
		<button (click)="edit()" class="edit" mat-stroked-button>Edit</button>
		<button (click)="new()" class="new" mat-stroked-button>New</button>
	</mat-toolbar>
</div>