<mat-toolbar>
	<button (click)="home()" mat-icon-button>
		<mat-icon>home</mat-icon>
	</button>
	<span>Export</span>
</mat-toolbar>

<button mat-stroked-button class="content_copy" (click)="copy()"><mat-icon>content_copy</mat-icon> Copy to
	Clipboard</button>


<div>
	<button *ngIf="includeExercises" (click)="toggleIncludeExercises()" mat-stroked-button><mat-icon
			class="check">check_box</mat-icon> Exercises included</button>
	<button *ngIf="!includeExercises" (click)="toggleIncludeExercises()" mat-stroked-button><mat-icon
			class="check">check_box_outline_blank</mat-icon> Exercises excluded</button>
</div>

<br />
<div>
	<button *ngIf="includeWorkouts" (click)="toggleIncludeWorkouts()" mat-stroked-button><mat-icon
			class="check">check_box</mat-icon> Workouts included</button>
	<button *ngIf="!includeWorkouts" (click)="toggleIncludeWorkouts()" mat-stroked-button><mat-icon
			class="check">check_box_outline_blank</mat-icon> Workouts excluded</button>
</div>

<br />
<div>
	<button *ngIf="includeEquipment" (click)="toggleIncludeEquipment()" mat-stroked-button><mat-icon
			class="check">check_box</mat-icon> Equipment included</button>
	<button *ngIf="!includeEquipment" (click)="toggleIncludeEquipment()" mat-stroked-button><mat-icon
			class="check">check_box_outline_blank</mat-icon> Equipment excluded</button>
</div>

<div id="content">
<ul *ngIf="includeWorkouts">
	<button (click)="toggleAll()" mat-stroked-button>Toggle All</button>
	<li *ngFor="let workout of workouts">

		<input type="checkbox" (click)="toggleChosen(workout.name, true)" [checked]="workoutChosen.get(workout.name)" />
		{{workout.name}}
	</li>
</ul>

<br>
<p>{{content}}</p>


</div>