<div class="main-container">
<mat-toolbar>
	<button (click)="back()" mat-icon-button>
		<mat-icon>keyboard_backspace</mat-icon>
	</button>
	<span>Exercises</span>
</mat-toolbar>

<div id="content">
  <mat-list>
	<app-exercise-list-item *ngFor="let exercise of exercises" [exercise]="exercise" [edit]="editMode">
	</app-exercise-list-item>
  </mat-list>
</div>

  <mat-toolbar id="lower-menu">
	<button (click)="edit()" class="edit" mat-stroked-button>Edit</button>
	<button (click)="new()" class="new" mat-stroked-button>New</button>
</mat-toolbar>
</div>