

#lower-menu{
	position: absolute;
	bottom: 0px;
}

.save, .exit{
	width: 200px;
	margin: 10px;
	height: 45px;
	font-size: 24px;
	
}
.title{
	width: 100%;
}

.add{
	text-align: center;
}

#content{
	height: 78%;
	overflow: scroll;
}