<mat-toolbar>
	<button (click)="back()" mat-icon-button>
		<mat-icon>keyboard_backspace</mat-icon>
	</button>

	<mat-form-field class="title">
		<input matInput [(ngModel)]="workout.name">
	</mat-form-field>

	<button (click)="edit()" mat-icon-button>
		<mat-icon>edit</mat-icon>
	</button>
</mat-toolbar>

<div id="content">

	<br>
	<app-workout-set *ngFor="let set of workout.sets" [set]="set" (deleteSet)="deleteSet($event)"
		[editMode]="editMode"></app-workout-set>


	<br>

	<div class="add" *ngIf="editMode" (click)="addSet()">
		<button mat-stroked-button>Add <mat-icon>add</mat-icon></button>
	</div>
</div>
<mat-toolbar id="lower-menu" *ngIf="editMode">
	<button (click)="save()" class="save" mat-stroked-button>Save</button>
	<button (click)="delete()" class="exit" mat-stroked-button>Delete</button>
</mat-toolbar>


<mat-toolbar id="lower-menu" *ngIf="!editMode">
	<button (click)="start()" class="save" mat-stroked-button>Start</button>
</mat-toolbar>