<mat-toolbar>
	<button (click)="back()" mat-icon-button>
		<mat-icon>keyboard_backspace</mat-icon>
	</button>

	<mat-form-field class="title">
		<input matInput [(ngModel)]="workout.name">
	</mat-form-field>

	<button (click)="edit()" mat-icon-button>
		<mat-icon>edit</mat-icon>
	</button>
</mat-toolbar>

<div id="content">
	<br>

	<app-workout-set *ngFor="let setIndex of workout.sets.keys()" [set]="workout.sets[setIndex]" [total]="workout.sets.length" [index]="setIndex" (deleteSet)="deleteSet($event)"
	(moveSet)="moveSetInWorkout($event)"
	[editMode]="editMode"></app-workout-set>
	<br>

	<div class="add" *ngIf="editMode" (click)="addSet()">
		<button mat-stroked-button>Add <mat-icon>add</mat-icon></button>
	</div>

	<div class="add" *ngIf="editMode">
		<button *ngFor="let candidate of candidates" (click)="chooseBySearch(candidate.id)" class="candidate"
		mat-stroked-button>
		<span class="highlight">{{candidate.name}}</span> from <span
			class="highlight">{{candidate.workout}}</span></button>
			<br />
		<mat-form-field>
			<input (keyup)="onSearchChange($event)" matInput [(ngModel)]="setSearchText">
		</mat-form-field>

	</div>
</div>

<mat-toolbar id="lower-menu" *ngIf="editMode">
	<button (click)="save()" class="save" mat-stroked-button>Save</button>
	<button (click)="delete()" class="exit" mat-stroked-button>Delete</button>
</mat-toolbar>

<mat-toolbar id="lower-menu" *ngIf="!editMode">
	<button (click)="start()" class="save" mat-stroked-button>Start</button>
</mat-toolbar>