

#lower-menu{
	position: absolute;
	bottom: 0px;
}

.new, .edit{
	width: 200px;
	margin: 10px;
	height: 45px;
	font-size: 24px;
	
}

html, body {
	height: 100%;
	margin: 0;
  }
  
  .main-container {
	display: flex;
	flex-direction: column;
	height: 100%;
  }
  
  #content {
	flex-grow: 1;
	overflow: auto;
	-ms-overflow-style: none; /* Internet Explorer 10+ */
	scrollbar-width: none; /* Firefox */
	margin-bottom: 60px;
}
  
  #content::-webkit-scrollbar { 
	display: none; /* Safari and Chrome */
  }
    