<mat-card class="set">
	<mat-card-content>Set
		<button *ngIf="editMode" (click)="deleteSelf()" mat-icon-button>
			<mat-icon>delete</mat-icon>
		</button>
	</mat-card-content>

	<div>
		<div class="reps">
			<div class="reps-counter">
				<button *ngIf="editMode" (click)="adjustReps(-1)" mat-icon-button><mat-icon>remove</mat-icon></button>
				<div class="repeats">
					<input matInput [(ngModel)]="set.repeats">
					<span>x</span>
				</div>
				<button *ngIf="editMode" (click)="adjustReps(+1)" mat-icon-button><mat-icon>add</mat-icon></button>
			</div>
		</div>


		<mat-list>
			<app-workout-set-exercise-item (deleteExercise)="deleteExerciseFromSet($event)"
				(moveExercise)="moveExerciseInSet($event)" [editMode]="editMode" [setItem]="set.exercises[index]"
				[index]="index" [total]="set.exercises.length" *ngFor="let index of set.exercises.keys()">
			</app-workout-set-exercise-item>
		</mat-list>
	</div>


	<br *ngIf="editMode">
	<mat-form-field *ngIf="editMode">
		<mat-label>Add Exercise</mat-label>
		<mat-select [(value)]="selectedExercise">
			<mat-option value="Rest">Rest</mat-option>
			<mat-option *ngFor="let name of exerciseNames" [value]="name">{{name}}</mat-option>
		</mat-select>
	</mat-form-field>
	<button *ngIf="editMode" mat-stroked-button (click)="addExercise()"><mat-icon>add</mat-icon>Add Selected</button>
	<br/>
	<mat-form-field *ngIf="editMode">
		<input (keyup)="onSearchChange($event)" matInput [(ngModel)]="searchText">
		<button *ngFor="let candidate of candidates" (click)="chooseBySearch(candidate)" class="candidate" mat-stroked-button>{{candidate}}</button>
		<button *ngIf="candidates.length < 1 && searchText.length > 2" (click)="addNewExercise()" mat-stroked-button color="primary"><mat-icon>add</mat-icon>Add New</button>
	</mat-form-field>
	
</mat-card>