
.set{
	margin-left: 20px;
	margin-right: 80px;
	min-height: 70px;
	margin-bottom: 20px;
	padding-right: 0px;
}

.reps{
	position: absolute;
	width: 100%;
}

.reps-counter{
	position: relative;
	left: 100%;
	top: -55px;
}

.repeats{
	width: 60px;
	text-align: center;
	vertical-align: middle;
}
.repeats *{
	width: 30px;
	vertical-align: middle;

}

.reps>*{
	width: 20px;
	font-size: 22px;
	text-align: center;
	display: block;
}