
.set{
	margin-left: 20px;
	margin-right: 80px;
	min-height: 70px;
	margin-bottom: 20px;
	padding-right: 0px;
}

.reps{
	position: absolute;
	width: 100%;
}

.reps-counter{
	position: relative;
	left: 100%;
	top: -55px;
}

.repeats{
	width: 60px;
	text-align: center;
	vertical-align: middle;
}
.repeats *{
	width: 30px;
	vertical-align: middle;

}

.reps>*{
	width: 20px;
	font-size: 22px;
	text-align: center;
	display: block;
}

.isBorrowable{
	text-align: right;
	width: 100%;
	display: block;
	padding-right: 10px
}

td{
	width: 50vw;
}


.strikethrough{
	text-decoration: line-through;
}

.borrowedSetName{
	position: relative;
	top:8px;
	margin-right: 20px;
	text-align: center;
	padding: auto;
}

.italic{
	font-style: italic;
}

.hidden{
	visibility: hidden;
}